<apex:page Controller="floatingHeadersController" standardStylesheets="false">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="{!$Resource.jqueryfixheadertable}"></script>
   <apex:stylesheet value="{!$Resource.base}" />
   <apex:stylesheet value="{!$Resource.themefile}" />
   
 <apex:form id="theform">  

    <script>
    $(document).ready(function() {
        $('.fixme').fixheadertable({
             height  : 200
        });
    });
    </script>  
   
   
   <apex:pageBlock title="My Content"  >

        <apex:pageBlockTable value="{!contactList}" var="item" styleclass="fixme">
             <apex:column headerValue="Col1"   value="{!item.firstname}"/> 
              <apex:column headerValue="Col2"   value="{!item.lastname}"/> 
                <apex:column headerValue="Col2"   value="{!item.email}"/> 
                  <apex:column headerValue="Col2"   value="{!item.phone}"/> 
      </apex:pageBlockTable> 

    </apex:pageBlock> </apex:form>
</apex:page>