<apex:page >
    <!--<apex:includeLightning />-->
    <apex:includeScript value="/support/console/41.0/integration.js"/>
    <apex:includeScript value="{!URLFOR($Resource.streamingTest, 'streamingTest/jquery-1.5.1.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.streamingTest, 'streamingTest/cometd.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.streamingTest, 'streamingTest/json2.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.streamingTest, 'streamingTest/jquery_cometd.js')}"/>
    
    <script type="text/javascript">
    var cometd;
    var subscribedToChannel;
    var isExtensionEnabled;
    var metaConnectListener;
    var metaDisconnectListener;
    var metaHandshakeListener;
    var metaSubscribeListener;
    var metaUnSubscribeListener
    var metaUnSucessfulListener;
    var REPLAY_FROM_KEY = 'replay';
    (function($){
        $(document).ready(function() {
            Notification.requestPermission();
            //$('#content').append('<br>');
            
            var REPLAY_FROM = 'replayFrom';
            var channel = '/topic/InvoiceStatementUpdates';
            
            cometd = $.cometd;
            
            var _connected = false;
            if(!metaConnectListener) {
                metaConnectListener = cometd.addListener('/meta/connect', function(message) {        
                    if (cometd.isDisconnected()) {
                        //$('#content').append('Disconnected: '+JSON.stringify(message)+'<br><br>');
                        console.log('Disconnected: '+JSON.stringify(message));
                        return;
                    }
                    
                    var wasConnected = _connected;                
                    _connected = message.successful;
                    
                    if (!wasConnected && _connected) {
                        //$('#content').append('DEBUG: Connection Successful : '+JSON.stringify(message)+'<br><br>');                    
                        console.log('DEBUG: Connection Successful : '+JSON.stringify(message)+'<br><br>');                    
                    } else if (wasConnected && !_connected) {
                       // $('#content').append('DEBUG: Disconnected from the server'+JSON.stringify(message)+'<br><br>');
                        console.log('DEBUG: Disconnected from the server'+JSON.stringify(message)+'<br><br>');
                    }
                }); 
            }   
            
            if(!metaDisconnectListener) {
                metaDisconnectListener = cometd.addListener('/meta/disconnect', function(message) {  
                    //$('#content').append('DEBUG: /meta/disconnect message: '+JSON.stringify(message)+' <br><br>');
                    console.log('DEBUG: /meta/disconnect message: '+JSON.stringify(message)+' <br><br>');
                });
            }
            
            if(!metaHandshakeListener) {
                metaHandshakeListener = cometd.addListener('/meta/handshake', function(message) {
                    if (message.successful) {
                        //$('#content').append('<br><br> DEBUG: Handshake Successful: '+JSON.stringify(message)+' <br><br>');   
                        console.log('<br><br> DEBUG: Handshake Successful: '+JSON.stringify(message)+' <br><br>');  
                        
                        if (message.ext && message.ext[REPLAY_FROM_KEY] == true) {
                            isExtensionEnabled = true;
                        }                    
                        subscribedToChannel = subscribe(channel);
                    } else
                    {
                        //$('#content').append('DEBUG: Handshake Unsuccessful: '+JSON.stringify(message)+' <br><br>');
                        console.log('DEBUG: Handshake Unsuccessful: '+JSON.stringify(message)+' <br><br>');
                    }
                });
            }
            
            if(!metaSubscribeListener) {
                metaSubscribeListener = cometd.addListener('/meta/subscribe', function(message) {  
                    if (message.successful) {
                        //$('#content').append('DEBUG: Subscribe Successful '+channel+': '+JSON.stringify(message)+' <br><br>');
                        console.log('DEBUG: Subscribe Successful '+channel+': '+JSON.stringify(message)+' <br><br>');
                    } else {
                        //$('#content').append('DEBUG: Subscribe Unsuccessful '+channel+': '+JSON.stringify(message)+' <br><br>');   
                        console.log('DEBUG: Subscribe Unsuccessful '+channel+': '+JSON.stringify(message)+' <br><br>'); 
                    }    
                });
            }
            
            
            if(!metaUnSubscribeListener) {
                metaUnSubscribeListener = cometd.addListener('/meta/unsubscribe', function(message) {  
                    if (message.successful) {
                        //$('#content').append('DEBUG: Unsubscribe Successful '+JSON.stringify(message)+' <br><br>');
                        console.log('DEBUG: Unsubscribe Successful '+JSON.stringify(message)+' <br><br>');
                    } else {
                      //$('#content').append('DEBUG: Unsubscribe Unsuccessful '+JSON.stringify(message)+' <br><br>');     
                        console.log('DEBUG: Unsubscribe Unsuccessful '+JSON.stringify(message)+' <br><br>');     
                    }
                });    
            }                    
            
            // notifies any failures
            if(!metaUnSucessfulListener) {
                metaUnSucessfulListener = cometd.addListener('/meta/unsuccessful', function(message) {  
                   // $('#content').append('DEBUG:  /meta/unsuccessful Error: '+JSON.stringify(message)+' <br><br>');
                    console.log('DEBUG:  /meta/unsuccessful Error: '+JSON.stringify(message)+' <br><br>');
                });
            }
            
            cometd.websocketEnabled = false;
            
            // Connect to the CometD endpoint
            cometd.configure({
                url: window.location.protocol+'//'+window.location.hostname+ (null != window.location.port ? (':'+window.location.port) : '') +'/cometd/40.0/',
                requestHeaders: { Authorization: 'OAuth {!$Api.Session_ID}'}
            });
            
            cometd.handshake();
            
        });
    })(jQuery)
    
    function subscribe(channel) {
        // Subscribe to a topic. JSON-encoded update will be returned in the callback
        return cometd.subscribe(channel, function(message) {
            console.log("in subcription");
            
            var myExternalEvent;
            myExternalEvent = $A.get("e.c:StreamingAPIEvent");
            myExternalEvent.setParams({topic: 'The Topic',data: message.data.sobject,event: message.data.event});
            myExternalEvent.fire();
            var e=new Notification("Case : " + '123456',{
                body:"New message attached to the current case"
            });
        });
        
        function disconnect() {
            if (cometd) {
                cometd.removeListener(metaConnectListener);
                cometd.removeListener(metaDisconnectListener);
                cometd.removeListener(metaHandshakeListener);
                cometd.removeListener(metaSubscribeListener);
                cometd.removeListener(metaUnSubscribeListener);
                cometd.unsubscribe(subscribedToChannel);
                cometd.disconnect();
            }
        }    
    }
    window.onbeforeunload = disconnect;
    
    </script>
    
</apex:page>